
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  min-height: 100%;
    background: url("../media/back.jpg") no-repeat center;
    background-size: cover;
  position: relative;
}
.container {
  margin: 20px;
  max-width: 300px;
  padding: 12px;
  border-radius: 10px;
  background-color: #F4CBAE;
}

.container1 {
  max-width: 70%;
  margin-left: 15%;
  border-radius: 10px;
}

/* Full-width input fields */