   <nav class="navbar navbar-expand-sm justify-content-center fixed-top navbar-light"  >
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="activity">ACTIVITY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="agenda">AGENDA</a>
    </li>
  </ul>
</nav>