<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <title>Agenda</title>
</head>
<body>
<header>
    {% include 'lab_5/partials/navbar.html' %}
</header>
<div class="bg-img">
<br><br><br>
<table class="table table-dark table-striped table-hover container1">
    <thead>
    <tr>
        <th>Activity</th>
        <th>Date and time</th>
        <th>Place</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    {% for i in aktivitas %}
    <tr>
        <td>
            {{ i.judul }}
        </td>
        <td>
            {{ i.hari }}, {{ i.tanggal }}, {{ i.waktu }}
        </td>
        <td>
            {{ i.tempat }}
        </td>
        <td>
            {{ i.kategori }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="container1">
    <form action="agenda" method="post">
        {% csrf_token %}
    <input type="submit" value="DELETE" class="btn btn-danger btn-block">
    </form>
</div>
</div>
</body>
</html>