<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <title>Activity</title>
</head>
<body>
<header>
    {% include 'lab_5/partials/navbar.html' %}
</header>
<div class="bg-img">
<br><br><br>
<div class="d-md-flex flex-row">
<div class="p-2 ml-auto">
    <br><br><br><br><br><br><br><br><br><br>
    <h1> HELLO</h1>
</div>
    <form action="activity" method="post" class="container p-2 ml-auto">
    {% csrf_token %}
    {% for field in jadwal %}
    <div class="form-group">
        {{ field.label_tag }} {% render_field field class="form-control" %}
    </div>
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>
</div>
</body>
</html>